<div class="rolls-container">
  <div class="spacerMT"></div>
  <div class="centerInfo">
    <span class="centerInfoTitle">Main Page</span>
  </div>

  <div class="rolls-categorys-box">
    <a href="#" class="roll-category">All</a>
    <a href="#" class="roll-category">Philadelphia</a>
    <a href="#" class="roll-category">California</a>
    <a href="#" class="roll-category">Locked</a>
    <a href="#" class="roll-category">Brand</a>
    <a href="#" class="roll-category">Premium</a>
    <a href="#" class="roll-category bor-righ">Maki</a>
  </div>

  <div class="allProducts-box">
    <div class="productCard" *ngFor="let item of adminProducts">
      <div class="productCard-data">
        <img [src]="item.imagePath" alt="..." />
        <h3>
          <b>{{ item.name }}</b>
        </h3>
        <div class="productCard-consist">
          <p>{{ item.consist }}</p>
          <span
            ><b>{{ item.weight }}g</b></span
          >
        </div>
        <div class="productCard-controls">
          <span
            ><b>{{ item.price }} $</b></span
          >
          <div class="productCard-count"></div>
          <button type="button">Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
