<div class="header">
  <div class="rr">
    <!-- ////LOGO -->
    <div class="logo" [routerLink]="['']" routerLinkActive="active">
      <img
        class="logo-img"
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Flogo.svg?alt=media&token=fb5799b4-fea6-4534-afed-5a56c7c4350b"
        alt="logo.img"
      />
    </div>

    <!-- ////Menu -->
    <div class="main-menu">
      <a [routerLink]="['/action']" routerLinkActive="active" class="type-menu">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Factions.icon.svg?alt=media&token=d84caecb-17f4-44fe-bd3a-a9e914fcc69c"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>actions</span>
      </a>
      <!-- 
      <a [routerLink]="['/rolls']" routerLinkActive="active" class="type-menu">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Frolls.icon.svg?alt=media&token=17dde58e-5e38-47d7-99e9-4eb122459128"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>rolls</span>
      </a>

      <a [routerLink]="['/sets']" routerLinkActive="active" class="type-menu">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fsets.icon.svg?alt=media&token=4be23a17-d10d-42b3-b1a4-d52ad116cec6"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>sets</span>
      </a>

      <a [routerLink]="['/drinks']" routerLinkActive="active" class="type-menu">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fdrinks.icon.svg?alt=media&token=8f125bea-f4bb-49b9-86f7-38e6912a680f"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>drinks</span>
      </a> -->
      <a
        *ngFor="let component of adminCategory"
        [routerLink]="component.path"
        routerLinkActive="active"
        class="type-menu"
      >
        <img
          [src]="component.imagePath"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>{{ component.name }}</span>
      </a>
      <a
        [routerLink]="['/souces']"
        routerLinkActive="active"
        class="type-menu display-phone"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fsouces.icon.svg?alt=media&token=945e49cf-3fb8-4a19-90fd-b78cee75e02d"
          alt="icon.menu"
          class="main-menu-img"
        />
        <span>souces</span>
      </a>

      <div (click)="isNavItems = !isNavItems" class="display-phone menu-bar">
        <div class="menu-bar-items" *ngIf="isNavItems">
          <div class="aclickk">
            <a class="aclickk2" [routerLink]="['/paiment.delivery']">
              Delivery and Payment</a
            >
          </div>
          <div class="aclickk" [routerLink]="['/about']">
            <a class="aclickk2"> About</a>
          </div>
        </div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fphone.menu.icon.png?alt=media&token=531d9558-f721-40a2-8349-712f5048d7a9"
          alt="icon.menu.phone"
          class="main-menu-img-phone zind"
        />
      </div>
    </div>
  </div>

  <!-- ////Info Phone-->
  <div class="contacts">
    <a href="#" class="contacts-menu">
      <div class="contacts-phone">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fphone.icon.svg?alt=media&token=d19ae77c-bb74-4f98-b6eb-b327462af668"
          alt="icon.menu.phone"
          class="contacts-img-phone"
        />
        <span><b>we will call you</b></span>
      </div>
    </a>

    <div class="number-info">
      <a href="#" class="text-hover">(097) 998 88 99</a>
      <p>we work from <b>10am</b> to <b>9pm</b></p>
    </div>
    <div class="contacts-user">
      <a
        [routerLink]="['/admin']"
        routerLinkActive="active"
        class="type-menu"
        class="contacts-menu"
      >
        <div class="">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fuser-img.svg?alt=media&token=d8918fd8-b431-4f75-b77d-f1608b23f4d7"
            alt="icon.menu.phone"
            class="contacts-img-user"
          />
        </div>
      </a>
    </div>
    <div class="contacts-user2">
      <a href="#" class="contacts-menu2">
        <div class="">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fphone.menu.icon.png?alt=media&token=531d9558-f721-40a2-8349-712f5048d7a9"
            alt="icon.menu.phone"
            class="contacts-img-user2"
          />
        </div>
      </a>
    </div>
  </div>
  <!-- //////Basket -->
  <div class="basket">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fbasket.icon.svg?alt=media&token=40700e68-cdc2-4713-8684-e5fa4c7e48cf"
      alt="menu.basket"
    />
    <span class="basket-span">0</span>
    <span class="bs-span"><b>0</b> $</span>
  </div>
</div>
